@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap");

.App {
	text-align: center;
}

.navBar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(24, 7, 7);
	padding: 10px auto;
}

.navLink {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.link {
	margin-left: 40px;
	cursor: pointer;
	color: aliceblue;
	text-decoration: none;
}

.logo {
	color: aliceblue;
}

.fortniteImg {
	width: 100px;
	height: 100px;
}
.itemsContainer {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	flex-direction: row;
	overflow-x: hidden;
}

.item {
	background-color: rgb(194, 192, 190);
	transition: all 0.5s ease-out;
}

.item > h2 {
	font-family: "Bebas Neue", cursive;
}

.item > p {
	font-family: "Roboto Slab", serif;
}
.item:hover {
	transform: scale(1.02);
}
